 <div class="col">
				<center>
				
				<div class="card text-center bg-dark text-light">
				<div class="card-body">
				<h4 class="card-title"> Vistors
				<div align=center><a href='https://www.counter12.com'><img src='https://www.counter12.com/img-d6zd85Yb2xdwb6C9-49.gif' border='0' alt='Vistors'></a> <script type='text/javascript' src='https://www.counter12.com/ad.js?id=d6zd85Yb2xdwb6C9'></script></div>
			    </h4>
				</div>
				</div>
				
				<div class="container">
				  <div class="row">
					<div class="col">
					&nbsp;
					</div>
				  </div>
				</div>

				
				<div class="jumbotron container-fluid">
				<h1 class="display-6" style="font-family: meiryo ui;">Projects</h1><hr>
				{% for i in random %}
				 
						<h6 class="mt-0"></h6>
							<p><a href="/home/{{i.slug}}/">{{ i.title|title|safe }}</a></p>
				{% endfor %}
				</div>
				

				<div class="jumbotron container-fluid"><center>
				<h1 class="display-6" style="font-family: meiryo ui;">All Projects</h1><hr>				 
						<h6 class="mt-0"></h6>
								<a href="/home/allproject/">View Complete List</a></center>
				</div>

	
				<div class="jumbotron container-fluid">
				<h1 class="display-6" style="font-family: meiryo ui;"><a href="#" class="fa fa-twitter"></a> Feeds</h1><hr>
				<center><a href="https://twitter.com/rahulkumeriya?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @rahulkumeriya</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></center>
				
				<div class="container">
				  <div class="row justify-content-md-center">
					<div class="col col-lg-2">
					</div>
				   </div>
				</div>

				<a class="twitter-timeline" data-dnt="true" data-theme="light" data-link-color="#981CEB" href="https://twitter.com/KumeriyaRahul?ref_src=twsrc%5Etfw">Tweets by KumeriyaRahul</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
				
				<div class="card text-center bg-dark">
				<div class="card-body">
				<h6 class="card-title">
					<a href="https://twitter.com/KumeriyaRahul"><i class="fa fa-twitter"></i></a> 
					<a href="https://www.linkedin.com/in/rahul-kumeriya-47328140/"><i class="fa fa-linkedin"></i></a> 
					<a href="https://stackoverflow.com/users/5725811/rahul-kumeriya"><i class="fa fa-stack-overflow"></i></a> 
					<a href="https://github.com/raahoolkumeriya"><i class="fa fa-github"></i></a> 
				</h6>
				</div>
				</div>

				<div class="container">
				  <div class="row">
					<div class="col">
					  &nbsp;
					</div>
				  </div>
				</div>

				
				
				<div class="container">
				  <div class="row">
					<div class="col">
					&nbsp;
					</div>
				  </div>
				</div>

</div>


