{% load staticfiles %}
<html>
	
	<head>
	<title>
	{% block title %} Welcome {% endblock %}
	</title>
		{% include 'snippets/index_css.html' %}
	</head>

<body>
 
 
  
  
<div class="container text-center">  


					
		<div class="row">
		<div class="col">		
		</div>
	<div class="col">
						<div id="f1_container">
						<div id="f1_card" class="shadow">
						  <div class="front face">
							
						  </div>
						  <div class="back face center">
							<p style="font-size:90px;">4</p>
							
						  </div>
						</div>
						</div>
		  </div>
		  <div class="col">
						<div id="f1_container">
						<div id="f1_card" class="shadow">
						  <div class="front face">
							
						  </div>
						  <div class="back face center"><center>
							<p style="font-size:90px;">0</p></center>
							
						  </div>
						</div>
						</div>
		  
		  </div>
		  <div class="col">
						<div id="f1_container">
						<div id="f1_card" class="shadow">
						  <div class="front face">
							
						  </div>
						  <div class="back face center">
							<p style="font-size:90px;">4</p>
							
						  </div>
						</div>
						</div>

		  
		  </div>
	
		<div class="col">		
		
		
		</div>
		
		</div>					
  </div>
  
<div class="container">  
		<div class="row">
		  <div class="col">
		<!--<p class="text-center" style="font-size:150px;><a href="/home/home" class="custom-underline"> LOCKED</a> </p>-->
		<div class="box-c" style="color:black; text-align:center; font-size:150px; text-decoration: none;">
			<a href="/home/home" class="custom-underline"> <font color="black">LOST ?</font></a>  
			</div>
		</div>		  
	</div>		  
</div>		  
 
 <center><h2>I hate to see You CRY, But I love to see You TRY</h2>
 <h3 style="padding-rigt:20px"><strong>- Sherlock Homes</strong></h2></center></center>



		

		
    </body>
</html>