{% extends 'base.html' %}


{% load staticfiles %}

{% load bootstrap %}

{% block title %} Search | CodeLocked  {% endblock %}

{% block content %}

	{% include 'snippets/css.html' %}


<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-3">
			<form class="card card-sm" method="get">
				<div>&nbsp;</div>
				<h3 class="text-center"> Search Title <strong>OR</strong> Category </h3>
				<div class="card-body row no-gutters align-items-center">
					<div class="col text-center">
						<label for="exampleFormControlFile1">{{ filter.form|bootstrap }}</label>
					</div>
					</div>

					<div class="col-md-12">
							<div class="form-group">
								<input class="btn btn-primary form-control form-control-lg form-control-borderless" type="submit" />
							</div>
					</div>
			</form>
		</div>


    <div class="col">
	<div class="jumbotron container text-center col-md-12">
		<h1 class="display-6" style="font-family: meiryo ui;">All project List</h1><hr>
		{% for i in filter.qs %}
			<h6 class="mt-0"></h6>
				<p><a href="/home/{{i.slug}}/">{{ i.title|title|safe }}</a></p>

				{% if forloop.last %}
				<p><strong> Search Results : </strong>{{ forloop.counter }}</p>
				{% endif %}
		{% endfor %}
	</div>
	

	</div>
</div>
</div>


{% endblock content %}


