{% extends 'base.html' %}


{% load staticfiles %}

{% block title %} Contact | CodeLocked  {% endblock %}			

{% block content %}

	{% include 'snippets/index_css.html' %}
	

<div class="container">  
	<div class="row">
		<div class="col">
			<p class="text-center" style="font-size:115px;"> I AM </p>
		</div>		  
	</div>		  
</div>		  
 
<div class="container text-center">  

	<div class="row">

	<div class="col-md-2 col-md-offset-5">
		<div id="f1_container">
			<div id="f1_card" class="shadow">
				<div class="front face">
				</div>
				<div class="back face center">
					<p style="font-size:90px;">R</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-2 col-md-offset-5">
		<div id="f1_container">
			<div id="f1_card" class="shadow">
				<div class="front face">
				</div>
				<div class="back face center">
					<p style="font-size:90px;">A</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-2 col-md-offset-5">
		<div id="f1_container">
			<div id="f1_card" class="shadow">
				<div class="front face">
				</div>
				<div class="back face center">
					<p style="font-size:90px;">H</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-2 col-md-offset-5">
		<div id="f1_container">
			<div id="f1_card" class="shadow">
				<div class="front face">
				</div>
				<div class="back face center">
					<p style="font-size:90px;">U</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-2 col-md-offset-5">
		<div id="f1_container">
			<div id="f1_card" class="shadow">
				<div class="front face">
				</div>
				<div class="back face center">
					<p style="font-size:90px;">L</p>
				</div>
			</div>
		</div>
	</div>


	</div>
						
</div>
  
<div class="container">  
	<div class="row">
		<div class="col">
			<!--<p class="text-center" style="font-size:150px;><a href="/home/home" class="custom-underline"> LOCKED</a> </p>-->
			<div class="box-c" style="color:black; text-align:center; font-size:115px; text-decoration: none;">
				<a href="/home/home" class="custom-underline"> <font color="black">KUMERIYA</font></a>  
			</div>
		</div>		  
	</div>		  
</div>		  

{% endblock content %}
		

