{% extends 'base.html' %}


{% load staticfiles %}

	{% block title %} {{ type.title|safe|title }} | CodeLocked  {% endblock %}

{% block content %}

<div class="container">
	 <button type="button" class="btn btn-outline-light btn-sm active"><a class="nav-link" href="/home/home">BACK</a>
      </button> | 
	<button type="button" class="btn btn-outline-light btn-sm active"><a class="nav-link" href="/home/{{ type.category }}">{{type.category}}</a>
      </button> |  
	<button type="button" class="btn btn-outline-light btn-sm deactive">{{type.tags|title}}</button><strong> <i class="fa fa-tags"></i> </strong>  
</div>
<br>

  <div class="container">
	<div class="jumbotron">
	  <div class="container">
		<h1 class="display-4">{{ type.title|safe|title }}</h1>
		<p class="lead">{{ type.description|safe }}</p>
	  </div>
	</div>
</div>

<div class=container>
<div id="disqus_thread"></div>
</div>

{% include 'snippets/footer.html' %}

{% include 'snippets/js.html' %}						

{% endblock content %}