{% extends 'base.html' %}


{% load staticfiles %}

{% block content %}

{% include 'snippets/header.html' %}

<div class="container">
	
	<div class="row">
		<div class="col-sm-12 col-offset-sm-12 col-lg-8">
		
			{% for i in type %}
		
			<div class="jumbotron container">
				<h1 class="display-6" style="font-family: meiryo ui;">{{ i.title|title|safe }}</h1>
				<p class="lead"><b>Category |</b> {{ i.category|title }}  &nbsp;  <b>Publish On |</b> {{ i.created }}</h1></p> 
				<hr class="my-4">

				<div class="media">
					<div class="media-body">
						<h4 class="mt-0"></h4>
						<p>{{ i.summary|safe }}</p>
					</div>
				</div>
					
				<p class="lead">
				<!-- <a class="btn btn-primary btn-lg" href="/home/{{i.slug}}/"" role="button">{{ i }}</a>  -->
				<br>
				<a class="btn btn-primary btn-lg" href="/home/{{i.slug}}/" role="button">Know More</a>					
				<a style="padding: 50px;" href="{{ i.github }}"><i class=" btn-lg fa fa-github"></i></a>
				<a><i class="fa fa-tags" style="padding: 50px;"></i>{{ i.tags }}</a> 
					
				</p>
			</div>

			{% endfor %}
		

		<!-- FOR PAGINATION -->

		<nav>
		  <ul class="pagination justify-content-center">
			{% if type.has_previous %}
			<li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
			<li class="page-item">
			  <a class="page-link" href="?page={{ type.previous_page_number }}" tabindex="-1">previous</a>
			</li>
			
			{% endif %}
			<li class="page-item active">
			  <a class="page-link" href="#"> Page {{ type.number }} of {{ type.paginator.num_pages }}</span></a>
			</li>
			 {% if type.has_next %}
			<li class="page-item"><a class="page-link" href="?page={{ type.paginator.num_pages }}">next</a></li>
			<li class="page-item">
			  <a class="page-link" href="?page={{ type.next_page_number }}">last &raquo;</a>
			</li>
			  {% endif %}
		  </ul>
		</nav>

		<div class="mx-auto" style="width: 200px;">

		</div>
			
		</div>
		{% include 'snippets/sidebar.html' %}
		
	</div>
</div>


{% include 'snippets/footer.html' %}


{% endblock content %}
