{% load staticfiles %}
<html>
	
	<head>
	 <meta name="msvalidate.01" content="3FA8B6D4589A420CCAE77CA3D5BAA948" />
	 <meta name="google-site-verification" content="fPQXZ4ONu6ZarO377jFsOfxQtLb5OCpi03DLUD-S5i4" />
	<title>
	{% block title %} Welcome {% endblock %}
	</title>
		{% include 'snippets/index_css.html' %}
	
			
		<!-- Google Analytics -->
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'https://codelocked.herokuapp.com/index/', 'auto');
		ga('send', 'pageview');
		</script>
		<!-- End Google Analytics -->

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-59N6X2K');</script>
		<!-- End Google Tag Manager -->
		
		
	</head>
<body>


<div class="container">  
		<div class="row">
		  <div class="col">
		<p class="text-center" style="font-size:150px;"> I AM </p>
		</div>		  
	</div>		  
</div>		  
 
<div class="container text-center">  

					
		<div class="row">
		<div class="col">		
		</div>
	<div class="col">
						<div id="f1_container">
						<div id="f1_card" class="shadow">
						  <div class="front face">
							
						  </div>
						  <div class="back face center">
							<p style="font-size:90px;">C</p>
							
						  </div>
						</div>
						</div>
		  </div>
		  <div class="col">
								<div id="f1_container">
								<div id="f1_card" class="shadow">
								  <div class="front face">
									
								  </div>
								  <div class="back face center"><center>
									<p style="font-size:90px;">O</p></center>
									
								  </div>
								</div>
								</div>
		  
		  </div>
		  <div class="col">
										<div id="f1_container">
										<div id="f1_card" class="shadow">
										  <div class="front face">
											
										  </div>
										  <div class="back face center">
											<p style="font-size:90px;">D</p>
											
										  </div>
										</div>
										</div>

		  
		  </div>
		  <div class="col">
		  
		  							<div id="f1_container">
										<div id="f1_card" class="shadow">
										  <div class="front face">
											
										  </div>
										  <div class="back face center">
											<p style="font-size:90px;">E</p>
											
										  </div>
										</div>
										</div>						
			
		</div>
		
		<div class="col">		
		
		
		</div>
		
		</div>					
  </div>
  
<div class="container">  
		<div class="row">
		  <div class="col">
		<!--<p class="text-center" style="font-size:150px;><a href="/home/home" class="custom-underline"> LOCKED</a> </p>-->
		<div class="box-c" style="color:black; text-align:center; font-size:150px; text-decoration: none;">
			<a href="/home/home" class="custom-underline"> <font color="black">LOCKED</font></a>  
			</div>
		</div>		  
	</div>		  
</div>		  
 
  
		
    </body>
</html>
